@{
    ViewData["Title"] = "Arquitectura de Software";
}

<h1>Libros de Arquitectura de Software</h1>

<div class="card p-3">

    <img src="~/images/arqui.jpg"
         class="img-fluid"
         style="max-width:400px;" />

    <h3 class="mt-3">
        Arquitectura de Software
    </h3>

    <p>
        La arquitectura de software define la estructura de un sistema,
        sus componentes y la forma en que interactúan para garantizar
        escalabilidad, mantenibilidad y calidad.
    </p>

    <iframe width="560"
            height="315"
            src="https://www.youtube.com/embed/CWcfNuO696M"
            title="Arquitectura de Software"
            allowfullscreen>
    </iframe>

</div>