@{
    ViewData["Title"] = "Diseño de Software";
}

<h1>Libros de Diseño de Software</h1>

<div class="card p-3">

    <img src="~/images/dise.jpg"
         class="img-fluid"
         style="max-width:400px;" />

    <h3 class="mt-3">
        Diseño de Software
    </h3>

    <p>
        El diseño de software se enfoca en la planificación y construcción
        de sistemas utilizando principios, patrones y buenas prácticas que
        permitan desarrollar aplicaciones eficientes, mantenibles y escalables.
    </p>

    <iframe width="560"
            height="315"
            src="https://www.youtube.com/embed/toIheTReKeg"
            title="Diseño de Software"
            allowfullscreen>
    </iframe>

</div>