@model T3_Naranjo_Gianino.Models.Libro

<h2>Editar Libro</h2>

<form method="post" asp-action="Editar">

    <input asp-for="Id" hidden />

    <div class="mb-3">
        <label asp-for="Titulo"></label>
        <input asp-for="Titulo" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Autor"></label>
        <input asp-for="Autor" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Tema"></label>
        <input asp-for="Tema" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Editorial"></label>
        <input asp-for="Editorial" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="AnioPublicacion"></label>
        <input asp-for="AnioPublicacion" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Paginas"></label>
        <input asp-for="Paginas" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Categoria"></label>
        <input asp-for="Categoria" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Material"></label>
        <input asp-for="Material" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="Copias"></label>
        <input asp-for="Copias" class="form-control" />
    </div>

    <button type="submit" class="btn btn-warning">
        Actualizar
    </button>

</form>